{% extends "index.html" %}

{% block content%}
    <h1>PlanSubscription</h1>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-sm btn-outline-primary m-2" data-toggle="modal" data-target="#PlanSubscriptionModal" onclick="openCreateModal()">
        <i class="fa fa-plus"></i> Add PlanSubscription
    </button>
    
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">plan</th>
                <th scope="col">subscription</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for item in items %}
            <tr>
                <th scope="row">{{ item.pk }}</th>
                <td>{{ item.plan }}</td>
                <td>{{ item.subscription }}</td>
                <td>
                    <button 
                        type="button" 
                        class="btn btn-sm btn-outline-secondary" 
                        data-toggle="modal" 
                        data-target="#PlanSubscriptionModal" 
                        onclick="openEditModal('{{item.pk}}','{{item.subscription}}','{{item.user}}','{{item.amount}}','{{item.date}}','{{item.entity}}')"
                    >
                        Edit
                    </button>
                </td>                
                <td>
                    <button 
                        class="btn btn-sm btn-outline-danger" 
                        onclick="deleteRequest({{ item.pk }})">
                        Delete
                    </button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <!-- Modal -->
    <div class="modal fade" id="PlanSubscriptionModal" tabindex="-1" role="dialog" aria-labelledby="PlanSubscriptionModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title" id="PlanSubscriptionModalTitle">Create Item</h1>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="PlanSubscriptionForm" onsubmit="handleSubmit(event)">
                        {% csrf_token %}
                        <input type="hidden" id="formMethod" value="POST">
                        <input type="hidden" id="itemPk" value="">
                        {{ form.as_p }}
                        <div class="d-flex mt-4">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    </form>                    
                </div>
            </div>
        </div>
    </div>    


    <script>
        function openCreateModal() {
            document.getElementById('PlanSubscriptionForm').reset();
            document.getElementById('PlanSubscriptionModalTitle').innerText = "Create Item";
            document.getElementById('formMethod').value = "POST";

            document.getElementById('itemPk').value = "";
            document.querySelector('input[name="plan"]').value = plan;
            document.querySelector('input[name="subscription"]').value = "";
        }
        
        function openEditModal(pk,plan,subscription) {
            document.getElementById('PlanSubscriptionModalTitle').innerText = "Edit Item";
            document.getElementById('formMethod').value = "PUT";

            document.getElementById('itemPk').value = pk;
            document.querySelector('input[name="plan"]').value = plan;
            document.querySelector('input[name="subscription"]').value = subscription;
           
        }

        function handleSubmit(event) {
            event.preventDefault();  // Impede o envio padrão do formulário

            const url = document.getElementById('formMethod').value === 'POST' 
                ? '/v1/plan_subscription/' 
                : `/v1/plan_subscription/${document.getElementById('itemPk').value}/`;
            const method = document.getElementById('formMethod').value;
            const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;

            const formData = new FormData(document.getElementById('PlanSubscriptionForm'));
            const payload = Object.fromEntries(formData.entries());

            fetch(url, {
                method: method,
                headers: {
                    'X-CSRFToken': csrfToken,
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(payload),
            })
                .then(response => {
                    if (response.ok) {
                        alert('Item saved successfully.');
                        location.reload();  // Recarrega a página para atualizar a lista
                    } else {
                        alert('Failed to save item.');
                    }
                })
                .catch(error => console.error('Error:', error));
        }


        function deleteRequest(pk) {
            const url = `/v1/plan_subscription/${pk}/`;  // URL para a ação DELETE
            const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;

            fetch(url, {
                method: 'DELETE',
                headers: {
                    'X-CSRFToken': csrfToken,  // Envia o token CSRF para segurança
                    'Content-Type': 'application/json',
                },
            })
                .then(response => {
                    if (response.ok) {
                        alert('Item deleted successfully.');
                        location.reload();  // Recarrega a página para atualizar a lista
                    } else {
                        alert('Failed to delete item.');
                    }
                })
                .catch(error => console.error('Error:', error));
        }

        function fetchAllPlanSubscription() {
            fetch('/v1/plan_subscription/')
                .then(response => response.json())
                .then(data => {
                    console.log('All PlanSubscription:', data.items);
                })
                .catch(error => console.error('Error fetching PlanSubscription:', error));
        }

        function fetchPlanSubscriptionById(pk) {
            fetch(`/v1/plan_subscription/${pk}/`)
                .then(response => {
                    if (response.ok) {
                        return response.json();
                    }
                    throw new Error('PlanSubscription not found');
                })
                .then(data => {
                    console.log('PlanSubscription:', data);
                })
                .catch(error => console.error('Error fetching PlanSubscription:', error));
        }

    </script>
        
{% endblock %}
